/* custom checkbox styles */

.jcf-checkbox {
	@include vertical;
	@include width(16px, 16px);
	position: relative;
	overflow: hidden;
	cursor: pointer;
	background: $white;
	margin: 0 24px 0 0;
}

.jcf-checkbox span {
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;
	display: none;
	background:$light-blue;
}

.jcf-checkbox input[type="checkbox"] {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}

.jcf-checkbox.jcf-checked span {
	display: block;
}


/* custom radio styles */

.jcf-radio {
	@include vertical;
	@include radius(100%);
	@include width(16px, 16px);
	position: relative;
	overflow: hidden;
	cursor: pointer;
	background: $white;
	margin: 0 24px 0 0;
}

.jcf-radio span {
	@include radius(100%);
	display: none;
	position: absolute;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	background: $blue;
}

.jcf-radio input[type="radio"] {
	position: absolute;
	height: 100%;
	width: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}

.jcf-radio.jcf-checked span {
	display: block;
}


/* custom scrollbars styles */
.jcf-scrollable-wrapper {
	//box-sizing: content-box;
	position: relative;
}
.jcf-scrollbar-vertical {
	@include radius(2px);
	position: absolute;
	cursor: default;
	background: rgba($light-gray, 0.5);
	width: 3px;
	bottom: 0;
	right: 2px;
	top: 0;
}
.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	background: #bbb;
	height: 14px;
	width: 14px;
	left: 0;
	top: 0;
	display: none;
}
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	top: auto;
	bottom: 0;
}
.jcf-scrollbar-vertical .jcf-scrollbar-handle {
	background: $light-gray;
	height: 1px;
	width: 5px;
	margin: 0 0 0 -1px;
}
.jcf-scrollbar-vertical .jcf-scrollbar-slider {
	height: 100% !important;
}
.jcf-scrollbar-horizontal {
	position: absolute;
	background:$scrollbar;
	right: auto;
	top: auto;
	left: 0;
	bottom: 0;
	width: 1px;
	height: 3px;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-dec,
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	background: #bbb;
	height: 14px;
	width: 14px;
	display: none;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
	left: auto;
	right: 0;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-slider {
	display: inline-block;
	position: absolute !important;
	height: 3px;
	top: 0;
	width: 100% !important;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-handle {
	position: absolute;
	background: $light-gray;
	height: 5px;
	margin: -1px 0 0;
}
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
	visibility: hidden;
}
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-dec,
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-inc {
	background: #e3e3e3;
}